In [3]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [5]:
# import pandas and numpy
import pandas as pd
import numpy as np

# load the data
home_data = pd.read_csv("train.csv")

# print the first 5 rows
home_data.head()

,id,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,0,34291,24,1,0,47,35693,2,1,2000,0,1,8,5196,369,0,3,3436795.2
1,1,95145,60,0,1,60,34773,1,4,2000,0,1,729,4496,277,0,6,9519958.0
2,2,92661,45,1,1,62,45457,4,8,2020,1,1,7473,8953,245,1,9,9276448.1
3,3,97184,99,0,0,59,15113,1,1,2000,0,1,6424,8522,256,1,9,9725732.2
4,4,61752,100,0,0,57,64245,8,4,2018,1,0,7151,2786,863,0,7,6181908.8

In [6]:
y = home_data.price

features = ['squareMeters', 'numberOfRooms', 'floors', 'made']
X = home_data[features]

In [7]:
# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# Define a random forest model
rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(train_X, train_y)
rf_val_predictions = rf_model.predict(val_X)
rf_val_mae = mean_absolute_error(rf_val_predictions, val_y)

print("Validation MAE for Random Forest Model: {:,.0f}".format(rf_val_mae))

Validation MAE for Random Forest Model: 9,228

In [9]:
test_data_path = 'test.csv'
test_data = pd.read_csv(test_data_path)
# Select columns corresponding to features, and preview the data
X = test_data[features]

In [10]:
# The list of columns is stored in a variable called features
test_X = X

# make predictions which we will submit. 
test_preds = rf_model.predict(test_X)

print(test_preds)

[4764781.66400001 6218549.90699999 9058422.16300001 ... 7359736.84999999
 7767789.42199999 1822703.92      ]

In [11]:
output = pd.DataFrame({'id': test_data.id,
                       'price': test_preds})
output.to_csv('submission.csv', index=False)